<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title></title>
<link rel="stylesheet" href="css/global.css">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/layout.css">
</head>

<body>


<div page-wrap></div>

<script type="text/html" id="page">
	{{if siteTextNav}}
	<div class="nav" id="nav-wrap">
		<ul class="clearfix" nav-list-wrap>
			{{each siteTextNav}}
				{{if $value.isused == 1}}
					<li nav-list style="background:{{$value.labelColor}}">
						<a href="javascript:;" linker="{{$value.pageUrl}}" pkSite="{{pkSite}}" style="color:{{$value.fontColor}}">
							{{$value.textName}}
						</a>
					</li>
				{{/if}}
			{{/each}}
		</ul>
	</div>
	{{/if}}

	<div class="inner-banner">
		<img src="{{modelars.modelData[0].iconBgUrl}}">
	</div>

	<div class="content sub-type1">
		<dl>
			<dt class="tc bold font_18">
				{{modelars.modelData[0].mainTitle}}
			</dt>
			<dd class="clearfix">
				{{=modelars.modelData[0].intro}}
			</dd>
		</dl>
	</div>
</script>

<script src="./sea.js"></script>
<script>
	seajs.config({
		preload:['js/lib/zepto/zepto']
	});

	seajs.use('js/main/card1');
</script>
</body>
</html>